nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;

}

header {
    background-color: #171C28;
    padding: 20px;
    box-shadow: 20px 20px 20px rgba(71, 71, 201, 0.334);
    padding-bottom: 1.2rem;
}

.brand-logo {
    color: gray;
    text-decoration: none;
    font-size: 1.5rem;
}

.close-btn {
    display: none;
}

.menu-links {
    color: black;
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.menu-links li a {
    text-decoration: none;
    color: gray;
    padding: 0.567rem;

    font-size: 1.3rem;
    transition: background-color 0.3s ease-in-out;
}

.menu-links li a:hover {
    background-color: rgba(71, 71, 201, 0.334);
    /* color: black; */
}

.toggle-menu {
    position: absolute;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    right: 20px;
    color: white;
    width: 30px;
    height: 30px;
    display: none;
}

@media (max-width: 600px) {
    .top-navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-links {
        flex-direction: column;
        justify-content: center;
        color: black;
        align-items: center;
        margin-top: 5rem;
    }

    .menu-links-wrapper {
        position: fixed;
        width:0;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #171C28;
        overflow: hidden;
        z-index: 8888;
        transition: width 0.5s ease-in-out;
    }

    .menu-links-wrapper.open {
        width: 300px;
        
    }

   

    .close-btn {
        display: flex;
        top: 12px;
        right: 12px;
        position: absolute;
    }

    .toggle-menu {
        display: flex;
    }
}
