.hero-container {
    background-color: #161A30;
    padding-top: 20px;
    padding-inline: 30px;
    color: gray;
    display: flex;
}

.hero-info {
    max-width: 700px;
    padding: 20px;
}

.hero-info p {
    text-align: justify;
    padding: 10px;
    max-width: 400px;
}

.hero-info h1 {
    text-wrap: balance;
}

.hero-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.hero-illustration {

    overflow: hidden;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 2.5rem;
    position: relative;
    display: inline-block;
}

.hero-illustration::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.01);
    pointer-events: none;
}

.search-illustration {
    overflow: hidden;
    aspect-ratio: 1/1;
    width: 100%;
    pointer-events: none;
    user-select: none;

}

.hero-search {
    display: flex;
    gap: 1rem;
    padding: 5px;

}

.start-reading {
    appearance: button;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.975rem 2.4rem;
    border-radius: 0.97rem;
    color: #161A30;
    border: 3px solid black;
    transition: background-color 0.3s ease-in-out;

}

.start-reading:hover {
    opacity: 0.3;
}

.search-book {
    padding: 0.975rem 2.4rem;
    border-radius: 0.97rem;
    background-color: royalblue;
    border: none;
    color: white;
    font-size: 1rem;
}

.search-book:hover {
    opacity: 0.7;
}

.books-section {
    padding: 40px;
    background-color: #161A30;
    color: gray;
}


.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 1rem;
    /* padding: 20px; */
}

.grid-wrapper>div {
    background-color: #161A30;
    padding: 20px;
    /* Adjust padding as needed */
    border-radius: 8px;
    /* Adjust border-radius for rounded corners */
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Initial box shadow */
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;
    /* Add smooth transitions */
}

.grid-wrapper>div:hover {
    background-color: #55198B;
    /* Change background color on hover */
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.5);
    /* Change box shadow on hover */
}


.genre {

    color: white;
    font-size: 1rem;
    font-weight: 200;
    padding: 20px;
    
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

}

.genre img {
    width: 100%;
}


@media (max-width: 600px) {
    .hero-container {
        margin: 0;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    .hero-wrapper {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .hero-info {
        padding-inline: 30px;
    }

    .books-section {
        padding: 20px;
    }

    .hero-search {
        gap: 0.5rem;
    }
}