.sidebar {
    display: flex;
    background-color: #1f1f1f;
    max-width: 200px;
    height: 100vh;
    /* padding: 30px; */
    justify-content: center;
    position: fixed;
}

.social-media-ico {
    list-style-type: none;
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: 2rem; */
    height: auto;
}

.social-media-ico a {
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: whitesmoke;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.93rem;
    padding: 0.654rem;

}

.social-media-ico a a {
    text-decoration: none;
    color: white;
}

.social-media-ico a:hover {
    background-color: gray;
}

@media (max-width:500px) {
    .sidebar {
        width: 0;
        overflow: hidden;
    }
}